* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@-webkit-keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@-webkit-keyframes myAnim2 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes myAnim2 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
header {
  background-color: #0A121F;
  height: 100px;
  margin-bottom: 160px;
}

.margin, .menu_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 0;
  color: 0;
  font-family: "Open Sans";
  padding: 40px 20px;
  text-decoration: none;
  font-style: normal;
  margin-right: 5px;
}

body {
  background-color: #08101E;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.menu_link__hover:hover {
  background-color: #FFFFFF;
  color: #3A68B8;
  transition: all 3s ease-in-out;
  transform: scale(2) rotate(20deg);
}

.title3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #3A68B8;
  font-family: "Open Sans";
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main_heading {
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  color: #FFFFFF;
  font-family: "Open Sans";
  margin-bottom: 40px;
}

.main_dc {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-style: normal;
  opacity: 0.7;
}

.index_button {
  border-radius: 5px;
  padding: 15px 30px;
  gap: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 50px;
  background: #3A68B8;
}
.index_button__hover:hover {
  background-color: #FFFFFF;
  color: #3A68B8;
  transition: all 2s;
  transform: skew(30deg);
}

.logobar {
  margin-top: 200px;
  margin-bottom: 99px;
}

.logoImg:hover {
  -webkit-animation: myAnim 2s ease 0s 1 normal forwards;
          animation: myAnim 2s ease 0s 1 normal forwards;
}

.header_menu {
  display: flex;
  justify-content: center;
}

.flex_box {
  display: flex;
  justify-content: space-between;
}

.content_left {
  width: 604px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  font-family: "Open Sans";
  width: 484px;
  font-style: normal;
  margin-bottom: 30px;
}

.paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: "Open Sans";
  padding-bottom: 65px;
  width: 460px;
  font-style: normal;
  opacity: 0.7;
}

.index_two {
  border-radius: 5px;
  padding: 15px 30px;
  gap: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 0;
  background: #3A68B8;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.index_two__hover:hover {
  background-color: #FFFFFF;
  color: #3A68B8;
  transition: all 2s linear;
  transform: translate(100px) rotate(360deg);
}

.sectionTwo {
  background: #020A18;
}

.left:hover {
  -webkit-animation: myAnim2 2s ease 0s 1 normal forwards;
          animation: myAnim2 2s ease 0s 1 normal forwards;
}

.blocks {
  padding-top: 157px;
  padding-bottom: 264px;
}

h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-style: normal;
  text-align: center;
  opacity: 0.7;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  width: 362px;
  background: #132035;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

.paragraph2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-style: normal;
  opacity: 0.7;
}

.left_bottom {
  width: 754px;
  background: #132035;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}

.block {
  margin-top: 30px;
}

.bottom {
  margin-bottom: 257px;
}

.paragraph3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  font-family: "Open Sans";
  width: 460px;
  font-style: normal;
  opacity: 0.7;
  margin: 20px 0;
}

.aboutH2 {
  width: 548px;
}

.about {
  padding-bottom: 221px;
}

footer {
  background-color: #0A121F;
}

.fa,
.fas {
  width: 20px;
  color: #FFFFFF;
}

.block1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
}

.block2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  margin-bottom: 51px;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-family: "Roboto";
  font-style: normal;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-family: "Roboto";
  font-style: normal;
}

.lorem {
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: "Open Sans";
  width: 261px;
  font-family: "Roboto";
  font-style: italic;
  opacity: 0.6;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.fa-brands {
  margin-right: 24px;
  margin-top: 24px;
}/*# sourceMappingURL=style.css.map */