* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@keyframes myAnim2 {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@import "vars";

@import "header";

@mixin brd ($brd) {
    border-radius: $brd;
    -webkit-border-radius: $brd;
    -moz-border-radius: $brd;
}

@mixin txt ($fw, $fs, $lh, $ctxt){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $ctxt;
    font-family: 'Open Sans';
}

.margin {
    @include txt (600, 16px, 0, 0);
    padding: 40px 20px;
    text-decoration: none;
    font-style: normal;
    margin-right: 5px;
}

@mixin button ($br,$pd, $g, $fw, $fs, $lh, $ctxt, $mt){
    border-radius: $br;
    padding: $pd;
    gap: $g;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $ctxt;
    margin-top: $mt;
    background: $color_button;
}



body {
    background-color: #08101E;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.menu_link {
    @extend .margin;
    &__hover:hover {
        background-color: #FFFFFF;
        color: $color_button;
        transition: all 3s ease-in-out;
        transform: scale(2) rotate(20deg);
    }
}



.title3 {
    @include txt(600, 18px, 160%, $color_button);
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main_heading {
    @include txt (800, 55px, 130%, $ctxt);
    margin-bottom: 40px;
}

.main_dc {
    @include txt (600, 18px, 160%, $ctxt);
    font-style: normal;
    opacity: 0.7;
}

.index_button {
    @include button (5px, 15px 30px, 10px, 600, 20px, 27px, $ctxt, 50px);
    &__hover:hover {
           background-color: #FFFFFF;
            color: $color_button;
            transition: all 2s;
            transform:skew(30deg);
    }
}

.logobar {
    margin-top: 200px;
    margin-bottom: 99px;

}
 .logoImg:hover {
	animation: myAnim 2s ease 0s 1 normal forwards;
}

.header_menu {
    display: flex;
    justify-content: center;
}

.flex_box {
    display: flex;
    justify-content: space-between;
}

.content_left {
    width: 604px;
}

h2 {
    @include txt (700, 40px, 130%, $ctxt);
    width: 484px;
    font-style: normal;
    margin-bottom: 30px;
}

.paragraph {
    @include txt (600, 16px, 160%, $ctxt);
    padding-bottom: 65px;
    width: 460px;
    font-style: normal;
    opacity: 0.7;
}

.index_two {
     @include button (5px,15px 30px, 0, 600, 16px, 22px, $ctxt, 0);
    flex: none;
    order: 0;
    flex-grow: 0;
    &__hover:hover {
        background-color: #FFFFFF;
         color: $color_button;
         transition: all 2s linear;
         transform: translate(100px) rotate(360deg);
    }
}

.sectionTwo {
    background: #020A18;

}

.left:hover {
    animation: myAnim2 2s ease 0s 1 normal forwards;

}
.blocks {
    padding-top: 157px;
    padding-bottom: 264px;
}

h3 {
    @include  txt (700, 25px, 125%, $ctxt);
    font-style: normal;
    text-align: center;
    opacity: 0.7;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item {
    @include brd(30px);
    width: 362px;
    background: #132035;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
}

.paragraph2 {
    @include txt (600, 16px, 160%, $ctxt);
    font-style: normal;
    opacity: 0.7;
}

.left_bottom {
    width: 754px;
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    margin-top: 30px;
}

.block {
    margin-top: 30px;
}

.bottom {
    margin-bottom: 257px;
}


.paragraph3 {
    @include txt (600, 16px, 160%, $ctxt);
    width: 460px;
    font-style: normal;
    opacity: 0.7;
    margin: 20px 0;
}

.aboutH2 {
    width: 548px;
}

.about {
    padding-bottom: 221px;
}

footer {
    background-color: #0A121F
}

.fa,
.fas {
    width: 20px;
    color: #FFFFFF;
}

.block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.block2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    margin-bottom: 51px;
}

.info {
    @include txt (500, 16px, 19px, $ctxt);
    font-family: 'Roboto';
    font-style: normal;
    }

p {
    @include txt (500, 14px, 16px, $ctxt);
    font-family: 'Roboto';
    font-style: normal;
}

.lorem {
    @include txt (100, 14px, 16px, $ctxt);
    width: 261px;
    font-family: 'Roboto';
    font-style: italic; 
    opacity: 0.6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.fa-brands {
    margin-right: 24px;
    margin-top: 24px;
}


